*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', 'Poppins', sans-serif;
    color: #fff;
}

:root{
    --dark-green: #2E5E4E;
    --light-green: #7BA982;

    --terracotta: #C97D4D;
    --petrol-blue: #3A6B7E;

    --light-white: #F4F4F4;
    --dark-gray: #3D3D3D;

    --mostard: #FFD166;
    --coral-red: #E63946;
}

header{
    background-color: var(--dark-green);
}